{
    "subscriptionId": "",
    "tenantId": "",
    "clientId": "",
    "key": "",
    "resourceGroup": "",
    "zoneName": "",
    "recordNames": [],
    "ipServiceUrl": "",
    "updateIntervalInMinutes": ""
}