name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  call-build:
    uses: ./.github/workflows/build.yml

  package:
    needs: call-build
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts

      - name: Prepare release directory
        run: |
          mkdir release
          cp -r quarkus-app release/
          echo "# Run the app" > release/run.sh
          echo "java -jar quarkus-app/quarkus-run.jar" >> release/run.sh
          chmod +x release/run.sh

      - name: Create ZIP
        run: |
          zip -r quarkus-app-${{ github.ref_name }}.zip release

      - name: Upload packaged artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-zip
          path: quarkus-app-${{ github.ref_name }}.zip

  publish:
    needs: package
    runs-on: ubuntu-latest

    steps:
      - name: Download packaged artifact
        uses: actions/download-artifact@v4
        with:
          name: release-zip

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: quarkus-app-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
